<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">

    <!-- Page Title -->
    <title>One Motors</title>
    <!--/ Page Title -->

    <meta name="author" content="Hipo Agência">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <link href="css/plugins.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/favicon.png" />
    <!--/ Favicons -->
</head>

<body data-barba="wrapper" data-cursor="true" data-header-sticky="true" data-menu-style="classic" data-page-layout="light" data-header-layout="dark" data-menu-layout="light" data-footer-layout="light" data-page-loader="true">

    <div data-duration="5" class="alioth-page-loader" data-layout="light">

        <span class="apl-background"></span>

        <!--Loader Percentage (Don't Touch)-->
        <div class="apl-count"></div>
        <!--Loader Percentage (Don't Touch)-->

    </div>
    <!--/Page Loader-->
    <!--Page Transitions-->
    <div class="alioth-page-transitions" data-layout="light">

        <!--Transition Background (Don't touch)-->
        <span class="apt-bg"></span>
        <!--/Transition Background (Don't touch)-->
        <!--Transition Text-->
        <div class="trans-text">Carregando, aguarde..</div>
        <!--Transition Text-->

    </div>
    <!--/Page Transitions-->
    <!-- Mouse Cursor -->
    <div data-dark-circle="rgba(25,27,29,.6)" data-dark-dot="#191b1d" data-light-circle="hsla(0,0%,100%,.2)" data-light-dot="#fff" id="mouseCursor">
        <div id="cursor"></div>
        <div id="dot"></div>
    </div>
    <!-- /Mouse Cursor -->
    <!-- Header -->
    <div class="site-header">

        <div class="header-wrapper">

            <!-- Site Branding -->
            <div class="site-branding">

                <!-- Site Logos -->
                <div class="site-logo">
                    <a href="index-2.html">
                        <img alt="Site Logo" class="dark-logo" src="img/site-logo.png">
                        <img alt="Site Logo Light" class="light-logo" src="img/site-logo-light.png">
                    </a>
                </div>
                <!-- /Site Logos -->

            </div>
            <!-- /Site Branding -->
            <!-- Menu Toggle Button (Don't touch) -->
            <div class="menu-toggle">
                <span class="toggle-line"></span>
                <span class="toggle-line"></span>
            </div>
            <!-- /Menu Toggle Button (Don't touch) -->
            <!-- Site Navigation -->
            <div class="site-navigation">

                <span class="sub-back"><i class="icofont-long-arrow-left"></i></span>

                <!-- Main Menu -->
                <ul class="menu main-menu">

                    <li class="menu-item"><a href="index.html">Home</a></li>
                    <li class="menu-item"><a href="sobre.html">Sobre</a></li>
                    <li class="menu-item"><a href="veiculos.html">Veículos</a></li>
                    <li class="menu-item"><a href="unidades.html">Unidades</a></li>

                </ul>
                <!-- /Main Menu -->
                <!-- Menu Widget (Left) -->
                <div class="menu-widget menu-widget-left">
                    <ul class="social-list">
                        <li><a href="#.">Facebook</a></li>
                        <li><a href="#.">Instagram</a></li>
                        <li><a href="#.">Twitter</a></li>
                        <li><a href="#.">LinkedIn</a></li>
                    </ul>

                </div>
                <!-- /Menu Widget (Left) -->
                <!-- Menu Widget (Right) -->
                <div class="menu-widget menu-widget-right">
                    <div class="git-button">
                        <a href="#">Fale Conosco</a>
                    </div>
                </div>
                <!-- /Menu Widget (Right) -->

            </div>
            <!-- /Site Navigation -->
            <!-- Header Widgets -->
            <div class="header-widgets">

                <!-- Header Widget-->
                <div class="header-widget">

                    <!--CTA Widget-->
                    <div class="header-cta-but">
                        <a data-hover="Fale Conosco" href="#">
                            Fale Conosco
                        </a>
                    </div>
                    <!--CTA Widget-->

                </div>
                <!-- Header Widget-->
            </div>
            <!-- /Header Widgets -->

        </div>

    </div>
    <!-- /Header -->



    <!-- Page -->
    <div id="page" data-barba="container">

        <!-- Page Content -->
        <div id="content" class="page-content">


            <div class="section">


                <div class="wrapper">

                    <span class="a-empty-space" style="height: 200px"></span>


                    <div class="c-col-12">

                        <!--Linked Text-->
                        <div data-height="140" class="hello-heading linked-text dark hide_mobile">

                            <h1 style="font-size: 130px" class="big-title">
                                A maior
                                <br>experiência
                                <br>em carros
                                <br>premium
                            </h1>

                        </div>
                        <!--/Linked Text-->
                        <!--Linked Text-->
                        <div data-height="60" class="hello-heading linked-text dark hide_desktop">

                            <h1 style="font-size: 40px" class="big-title">
                                A maior
                                <br>experiência
                                <br>em carros
                                <br>premium!
                            </h1>

                        </div>

                    </div>
                </div>
            </div>







            <div class="section">


                <div class="wrapper-full no-gap">


                    <div class="c-col-3"></div>
                    <!--/Column-->

                    <div class="c-col-9 no-gap">

                        <!--Embed Video-->
                        <div data-interaction="false" data-autoplay="true" class="alioth-embed-video">

                            <!--Video Attributes-->
                            <div data-poster="false" class="embed-video" data-plyr-provider="vimeo" data-plyr-embed-id="396260528"></div>
                            <!--/Video Attributes-->

                        </div>
                        <!--/Embed Video-->

                    </div>
                    <!--/Column-->

                </div>


            </div>



            <div class="section">


                <div class="wrapper-small no-margin">

                    <div class="c-col-3"></div>


                        <div class="c-col-9">

                            <!--Text Wrapper-->
                            <div class="text-wrapper">

                                <h1 class="has-anim" data-stagger="0.01" data-duration="1.5" data-delay=".1" data-animation="charsUp">Trustful Partners.</h1>
                            </div>
                            <!--/Text Wrapper-->
                            <!--Text Wrapper-->
                            <div class="text-wrapper">

                                <h5 style="color: rgba(25,27,29,.6)" class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp">
                                    Brain is the seed of intelligence a still more glorious dawn awaits the ash of stellar alchemy two ghostly white figures in coveralls and helmets are softly dancing not a sunrise but a galaxyrise bits of moving fluff. Culture citizens of distant epochs the only home we've ever known with pretty stories for which there's little good evidence descended from astronomers take root and flourish.
                                </h5>

                            </div>
                            <!--/Text Wrapper-->

                        </div>
                        <!--/Column-->

                    </div>

                </div>


            <div class="section">


                <div class="wrapper no-gap">


                    <div class="c-col-12 no-gap">

                        <!--Alioth Recent Works-->
                        <div data-navigate="scroll" class="a-recent-works light">

                            <!--Background Text-->
                            <div style="color: rgba(25,27,29,.2)" class="recent-works-bg-text">
                                One Selection
                            </div>
                            <!--Background Text-->
                            <!--Navigation (Don't Touch)-->
                            <div class="a-recent-works-nav">
                                <div class="arw-prev"><i class="icofont-long-arrow-left"></i></div>
                                <div class="arw-next"><i class="icofont-long-arrow-right"></i></div>
                            </div>
                            <!--Navigation (Don't Touch)-->
                            <!--Works Wrapper-->
                            <div class="recent-works-wrapper">

                                <!--Project-->
                                <div class="ar-work">

                                    <!--Project URL--><a href="carro.html">

                                        <!--Project Image-->
                                        <div class="ar-work-image">
                                            <img alt="Project Image" src="img/carro/1.jpg">
                                        </div>
                                        <!--/Project Image-->
                                        <!--Project Title-->
                                        <div class="ar-work-title">Porsche</div>
                                        <!--/Project Title-->
                                        <!--Project Category-->
                                        <div class="ar-work-cat">Cayenne</div>
                                        <!--/Project Category-->

                                    </a>

                                </div>
                                <!--/Project-->
                                <!--Project-->
                                <div class="ar-work">

                                    <!--Project URL--><a href="carro.html">

                                        <!--Project Image-->
                                        <div class="ar-work-image">
                                            <img alt="Project Image" src="img/carro/2.jpg">
                                        </div>
                                        <!--/Project Image-->
                                        <!--Project Title-->
                                        <div class="ar-work-title">Porsche</div>
                                        <!--/Project Title-->
                                        <!--Project Category-->
                                        <div class="ar-work-cat">911</div>
                                        <!--/Project Category-->

                                    </a>

                                </div>
                                <!--/Project-->
                                <!--Project-->
                                <div class="ar-work">

                                    <!--Project URL--><a href="carro.html">

                                        <!--Project Image-->
                                        <div class="ar-work-image">
                                            <img alt="Project Image" src="img/carro/3.jpg">
                                        </div>
                                        <!--/Project Image-->
                                        <!--Project Title-->
                                        <div class="ar-work-title">BMW</div>
                                        <!--/Project Title-->
                                        <!--Project Category-->
                                        <div class="ar-work-cat">X1 SDrive 20i</div>
                                        <!--/Project Category-->

                                    </a>

                                </div>
                                <!--/Project-->
                                <!--Project-->
                                <div class="ar-work">

                                    <!--Project URL--><a href="carro.html">

                                        <!--Project Image-->
                                        <div class="ar-work-image">
                                            <img alt="Project Image" src="img/carro/4.jpg">
                                        </div>
                                        <!--/Project Image-->
                                        <!--Project Title-->
                                        <div class="ar-work-title">BMW</div>
                                        <!--/Project Title-->
                                        <!--Project Category-->
                                        <div class="ar-work-cat">M4 CS</div>
                                        <!--/Project Category-->

                                    </a>

                                </div>
                                <!--/Project-->
                                <!--Project-->
                                <div class="ar-work">

                                    <!--Project URL--><a href="carro.html">

                                        <!--Project Image-->
                                        <div class="ar-work-image">
                                            <img alt="Project Image" src="img/carro/5.jpg">
                                        </div>
                                        <!--/Project Image-->
                                        <!--Project Title-->
                                        <div class="ar-work-title">Lamborghini</div>
                                        <!--/Project Title-->
                                        <!--Project Category-->
                                        <div class="ar-work-cat">Huracan</div>
                                        <!--/Project Category-->

                                    </a>

                                </div>
                                <!--/Project-->
                                <!--Project-->
                                <div class="ar-work">

                                    <!--Project URL--><a href="carro.html">

                                        <!--Project Image-->
                                        <div class="ar-work-image">
                                            <img alt="Project Image" src="img/carro/6.jpg">
                                        </div>
                                        <!--/Project Image-->
                                        <!--Project Title-->
                                        <div class="ar-work-title">Audi</div>
                                        <!--/Project Title-->
                                        <!--Project Category-->
                                        <div class="ar-work-cat">Q8</div>
                                        <!--/Project Category-->

                                    </a>

                                </div>
                                <!--/Project-->

                            </div>
                            <!--/Works Wrapper-->
                            <!-- Button -->
                            <div class="a-button style_1">

                                <!-- Button URL-->
                                <a href="#">Estoque Completo</a>
                                <!--/ Button URL-->
                                <!-- Button Icon-->
                                <i class="icofont-arrow-right"></i>
                                <!--/ Button Icon-->

                            </div>
                            <!--/ Button -->

                        </div>
                        <!--/Alioth Recent Works-->


                    </div>
                    <!--/Column-->

                </div>


            </div>




            <div class="section">

                <div class="wrapper-full no-margin">


                    <div class="c-col-12 no-gap no-margin">

                        <!-- Page Nav -->
                        <div class="alioth-page-nav" style="background-color: #f1f1f1">

                            <!--Page URL-->
                            <a href="#">
                                <div class="page-title"> Estoque</div>
                            </a>

                        </div>
                        <!-- /Page Nav -->

                    </div>
                    <!--/Column-->

                </div>


            </div>



        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page -->



    <!-- Site Footer -->
    <div id="footer" class="site-footer section">

        <!-- Footer Wrapper (Top) -->
        <div class="wrapper">
            <div class="c-col-3 footer-widget footer_brand">
                <div class="footer-logo">
                    <img alt="Footer Logo" src="img/site-logo.png">
                </div>
            </div>

            <div class="c-col-3 footer-widget">
                <div class="alioth-text-box">
                    <h5 style="color: rgba(25,27,29,.6)">
                        <b>Unidade I</b><br />
                        Rua Senador Feijó, 123
                        <br>Santos/SP
                        <br><br>
                    </h5>
                </div>
            </div>

            <div class="c-col-3 footer-widget">
                <div class="alioth-text-box">
                    <h5 style="color: rgba(25,27,29,.6)">
                        <b>Unidade II</b><br />
                        Rua Senador Feijó, 123
                        <br>Santos/SP
                    </h5>
                </div>
            </div>

            <div class="c-col-3 footer-widget">
                <div class="alioth-text-box">
                    <h5 style="color: rgba(25,27,29,.6)">
                        <b>Unidade III</b><br />
                        Rua Senador Feijó, 123
                        <br>Santos/SP
                    </h5>
                </div>
            </div>


        </div>
        <!--/ Footer Wraper (Top) -->
        <!-- Footer Wraper (Bottom) -->
        <div class="wrapper">

            <!-- Footer Widget -->
            <div class="c-col-6 footer-widget footer_cta">

                <!-- CTA -->
                <div class="big-button">
                    <a href="mailto:@onemotors.com.br">@OneMotorsr</a>
                </div>
                <!--/ CTA -->

            </div>
            <!--/ Footer Widget -->
            <!-- Footer Widget -->
            <div class="c-col-6 footer-widget footer_menu">

                <!-- Footer Menu -->
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Veículos</a></li>
                        <li><a href="#">Unidades</a></li>
                    </ul>

                </div>
                <!--/ Footer Menu -->

            </div>
            <!--/ Footer Widget -->

        </div>
        <!-- Footer Wraper (Bottom) -->

    </div>
    <!-- /Site Footer -->

    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/barba.js"></script>
    <script src="js/locomotive-scroll.min.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>
